<div id="chartcontainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>	>
<%=render 'renderchart' %>

</div>



<script>

$(function (){

$(window).load(function(){
				$('li').removeClass('active');
				$('li:eq(1)').addClass('active');

			});



});



</script>


		