<!DOCTYPE html>
<html>
<head>
  <title>Foodrecord</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


</head>
<body>
<h3 class="darkred_color font_pt" style="text-align:center">IMPROVING YOUR HEALTH STEP BY STEP</h3>

<div id="content">

  <div class="navbar navbar-inverse">
    <ul class="nav">
      <li class="blackcolor active"><a  href="/meals/new" class="">Your Food</a></li>
      <li class=" black_color" style="padding-left:20px;"><a href="/analyse">Analyse</a></li>
    </ul>
  </div>

<%= yield %>
</div>
</body>
</html>
